/ZonarMessagingServiceTest
/ZonarMessagingService
/**/local.properties
**/*.class
**/bin/*
**/gen/*
**/.DS_Store
bin/
gen/
.DS_Store
build/
.gradle/

Z
.DS_Store
*.class
R.java
local.properties


.idea/workspace.xml
out/
.idea/dictionaries/
*.orig
