<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rsxsoftware.exceptionthrower"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18"/>

    <application
            android:theme="@android:style/Theme.Light"
            android:label="@string/app_name"
            android:name=".MyApplication"
            >

        <activity
                android:name=".ThrowExceptionActivity"
                android:configChanges="keyboardHidden|orientation"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

    </application>
</manifest>
